.env
myenv
myenv/
venv
venv/myenv/
humlib/
olimpic-1.0-synthetic/
olimpic-1.0-scanned/
humdrum_extras_build
rountrip_musicxml/
original_musicxml/
extracted_pdmx_xml/
extracted_pdmx_xml
pdmx_to_kern/
pdmx_to_kern
test_one_xml_conversion.py
mxl/
mxl
mxl.tar.gz

humextra/
humextra_build/

*.o
*.a
*.so
*.exe
*.out

bin/
build/
obj/

*.swp
*.tmp
*.log
*.bak
*.DS_Store

__pycache__/
*.pyc
*.pyo
